@import './base.css';

#app {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;

  /* font-weight: bold; */
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(4, 69%, 57%, 0.459);
  }
}

@media (min-width: 100px) {
  body {
    display: flex;
    place-items: top-center;
    background: linear-gradient(-50deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* #app {
     display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem; 
  } */
}
